.intro{
    padding-top: var(--header-height);
    height: 24rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    column-gap: 15px;
}

.imagenPerfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cajaImagenPerfil{
    box-sizing: border-box;
    border-radius: 50%;
    height: 75%;
    border: solid;
    overflow: hidden;
}

.cajaImagenPerfil img{
    height: 120%;
}

.textoPresentacion{
    text-align: start;
    letter-spacing: 2.5px;
    word-spacing: 5px;
    line-height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta{
    margin-top: 12px;
}

.cta a{
    text-decoration: none;
}

.cta a button{
    color: white;
    margin-right: 10px;
    background-color: purple;
    border: 0px solid;
    padding: 15px;
    border-radius: 8px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}


@media screen {
    
}