.intro{
    margin-top: 8rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
}

.imagenPerfil{
    width: 40%;
}

.textoPresentacion{
    text-align: start;
    letter-spacing: 2.5px;
    word-spacing: 5px;
    line-height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta{
    margin-top: 12px;
}

.cta button{
    margin-right: 10px;
    background-color: purple;
    color: white;
    border: 0px solid;
    padding: 5px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}