.card{
    height: 25rem;
    width: 20rem;
    border-radius: 50px;
    border: blue solid;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  15px 15px 30px #9f9f9f,                
                -15px -15px 30px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.imagenCard{
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    border: solid;
    overflow: hidden;
}

.imagenCard img{
    height: 120%;
}

.descripcion{
    padding: 8px;
}


