.card{
    max-width: 24rem;
    border-radius: 50px;
    /* border: blue solid; */
    background: #e0e0e0;
    box-shadow:  15px 15px 30px #9f9f9f,                
                -15px -15px 30px #ffffff;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 2rem;
    align-items: center;
    scroll-snap-align: start;
    transition: all 0.2s;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.card:hover {
    color: white;
    background: orange;
  }

.imagenCard{
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    border: solid;
    overflow: hidden;
}

.imagenCard img{
    height: 120%;
}

.descripcion{
    padding: 16px;
}
 

