.header {
  height: 5rem;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
