.cajaAbout{
    border-top: 1px solid grey;
    padding-bottom: 4rem;
}

.about p{
    margin-bottom: 2rem;
    background-color: purple;
    color: white;
    padding: 24px;    
}

.cajaAboutCards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


